[submodule "worker/daemon"]
	path = worker/daemon
	url = https://github.com/thinkonmay/thinkshare-daemon
[submodule "assets"]
	path = assets
	url = https://github.com/thinkonmay/assets
[submodule "website"]
	path = website
	url = https://github.com/thinkonmay/landing-page-v2
[submodule "worker/sunshine"]
	path = worker/sunshine
	url = https://github.com/thinkonmay/sunshine-sdk
[submodule "mobile"]
	path = mobile
	url = https://github.com/thinkonmay/flutter_app
[submodule "worker/proxy"]
	path = worker/proxy
	url = https://github.com/thinkonmay/thinkremote-rtchub
[submodule "global/proxy"]
	path = global/proxy
	url = https://github.com/thinkonmay/global-proxy
[submodule "global/data"]
	path = global/data
	url = https://github.com/thinkonmay/manage
